.list {
  position: absolute;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.list__timeline {
  position: absolute;
  left: 15px;
  width: 2px;
  height: 80%;
}
.list__timeline__line {
  width: 2px;
  height: 95%;
  background-color: white;
}
.list__timeline__overlay-top {
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
}
.list__timeline__overlay-bottom {
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}
.list__container {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  display: grid;
}
