.class {
  width: 90%;
  color: white;
  padding: 40px 0px;
  opacity: 1;
  transition: all 1s ease-in;
  display: flex;
  align-items: center;
}

.class__passed {
  opacity: 0.3;
}
.class__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: white;
}
.class__info {
  font-size: 1.6vw;
}

.test__test {
  display: block;
}
